@model PizzaBox.WebClient.Models.CustomerViewModel

<section class="text-center">
  <p><h3>Create a new customer</h3></p>

  <form asp-controller="customer" asp-action="createuser" method="post">
    <p>
      <label for="name">Please enter your name:</label>
      <input type="text" id="name" asp-for="@Model.Name" size="10">
      <span asp-validation-for="@Model.Name" style="color: red;"></span>
    </p>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</section>
