<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>@ViewBag.Title</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <header class="row">
      <h1>PizzaBox</h1>
      <nav></nav>
    </header>

    <main class="row">
      @RenderBody()
    </main>

    <footer class="row">
      <small>&copy; 2021 Yichen Liu</small>
    </footer>
  </div>
</body>

</html>
